.swiper{
    width: 100%;
}

.swiper-slide img{
    display: block;
    width: 100%;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 350px;
}

h2{
    text-align: center;
}